/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
    --color-green: #596D48;
    --color-light-green: #E5E7EB ;
    --padding-content: 50px;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('../assets/Norse-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.container {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    min-height: 100vh;
    background-color:ghostwhite;
}

.container-image {
    height: 100vh;
    width: 33%;
    position: relative;
}

.container-image img:first-child {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-logo {
    background-color: rgba(0,0,0,0.4);;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    height: 170px;
}

.odin-logo {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
    z-index: 2;
}

.container-image h1 {
    position: absolute;
    top: 50%;
    left: calc(40% + 50px + 30px);
    transform: translate(-50%, -50%);
    z-index:3;
    color: white;
    margin: 0;
}

.container-content {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;  
}

.container-content-paragraph {
    align-content: center;
    padding: var(--padding-content) var(--padding-content);
}

.container-content-form-parent {
    background-color: white;
    padding: 20px var(--padding-content);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bottom shadow */
}

.container-content-buttons {
    padding: 30px var(--padding-content); 
}

.container-content-form {
    margin-bottom: 20px;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 5px;
    column-gap: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .form-row {
        flex-direction: column;
        gap: 10px;
    }

    .odin-logo {
        height: 100px;
        width: auto;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container-image h1 {
        top: calc(45% + 60px + 10px);
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .container {
        flex-direction: column;
    }

    .container-image {
        width: 100%;
        height: 40vh;
    }

    .container-logo {
        top: 51%;
        left: 0%;
        transform: translateY(-50%);
        width: 100%;
        height: 150px;
    }
}

h1 {
    font-family: 'Norse-Bold', serif;
    font-weight: normal;
}

h2 {
    margin-bottom: 15px;
}

img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--color-green);
}

button {
    background-color: var(--color-green);
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

input {
    border: 1px solid var(--color-light-green);
    border-radius: 4px;
    padding: 4px 12px;
    outline: none;
}

input:focus {
    border-color: steelblue;
    box-shadow: 0 0 4px rgba(84, 89, 94, 0.5);
}

input:invalid {
    border-color: red;
}

p, label, h2, button {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-weight: 600;
}